@import url('https://fonts.googleapis.com/css?family=Abel');


.regularBody{
 
  margin: 0 0;

  grid-template-rows: 1fr auto;

  overflow-x: hidden;

  --bg-color : #efebeb66;
  --font-color: #373843;
  --search-background-color: #e8e8e8;
  --error-color: rgba(236, 96, 96, 0.829);
  --success-color:rgba(87, 236, 94, 0.829);
  --link-color: rgb(153, 131, 233);
  --font-hover-color: white;
  --box-shadow-color: rgba(0,0,0,0.1);
  --grad-start-color: rgb(131, 193, 233);
  --grad-end-color: #A46BE5;
  --washed-out-blue:#aec5e05c;

  --font: 'Abel';
  background: var(--bg-color);

  font-family: var(--font), sans-serif;
  width:100%;
}

.loginBody{
 
  margin: 0 0;

  --font-color: #373843;
  --search-background-color: #e8e8e8;
  --error-color: rgba(236, 96, 96, 0.829);
  --success-color:rgba(87, 236, 94, 0.829);
  --link-color: rgb(153, 131, 233);
  --font-hover-color: white;
  --box-shadow-color: rgba(0,0,0,0.1);
  --grad-start-color: rgb(131, 193, 233);
  --grad-end-color: #A46BE5;
  --washed-out-blue:#aec5e05c;

  --font: 'Abel';

  font-family: var(--font), sans-serif;
  background: var(--washed-out-blue);
}

.viewport{
   width:100vw;
   height:100vh;
   display:flex;
   align-items: center;
}

.loginCardStyle{
  box-shadow: 0px 0px 5px var(--box-shadow-color);
  font: var(--font);
  color: var(--font-color);
  background: #fffffff5;
  border-radius: 3px;
  align-items: center;
  padding: 30px;
  display:flex;
  flex-direction: column;
}

.loginCardStyle h1{
  font-size: 30px;
  margin:0 0 0.5em 0;
  text-align: center;
}

.loginCardStyle h2{
  font-size: 15px;
  color: var(--font-color);
  text-align: center;
  margin:0.2em;
}

.loginCardStyle h3{
  font-size: 15px;
  color: var(--error-color);
  text-align: center;
  margin:0;
}

/**
 * Signup page
 */

 .loginCardStyle footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:1.5em;
 }

 .gradientButton{
  font-family: var(--font), sans-serif;
  font-weight: bold;
  border: none;
  padding:2px 12px;
  color:var(--font-hover-color);
  border-radius:50px;
  background: linear-gradient(45deg, var(--grad-start-color) 0%,var(--grad-end-color) 100%);

 }
 
 .loginCardStyle input[type='text'], .loginCardStyle input[type='password']{
   width: 16em;
   font-size: 14px;
   font-family: var(--font), sans-serif;
   margin: 0.8em 0 0 0;
   padding: 0.2em;
   height:2em;
   text-align: center;
 }
 
 
.loginCardStyle input[type='submit']{
  font-size: 16px;
  font-family: var(--font), sans-serif;
  font-weight: bold;
  border: none;
  margin-top:1em;
  padding:2px 12px;
  color:var(--font-hover-color);
  border-radius:50px;
  background: linear-gradient(45deg, var(--grad-start-color) 0%,var(--grad-end-color) 100%);

}


.loginCardStyle form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:2em 0 2em 0;
}  

*:focus{
  outline: none;
}

.inputField{
  color:var(--font-color);
  border: 2px solid var(--box-shadow-color);
  border-radius:50px;
  font-size: 12px;
  padding-left:12px !important;
  padding-right:12px !important;
  background: none;
}

.tabs form input:focus{
  width:180px;
  transition:0.3s;
}

.uploadButton{
  color:var(--font-color);
  background-color: var(--washed-out-blue);
  border-radius:16px;
  font-size: 12px;
}

.submitButton{
  color:var( --font-hover-color);
  background-color: var(--font-color);
  border-radius:16px;
  font-size: 12px;
  height:30px;
  width:100px;
}

.line {
  border: 0;
  clear: both;
  display: block;
  background-color: #00000005;
  height: 3px;
  width: 90%;
}

.invisibleLine {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:#00000005;
  height: 5px;
  margin:0em auto 0em auto;
}

.audiojs {
  border-radius: 5px;
  margin-top: 2em;
}

select{
  color:var(--font-color);
  border: 2px solid var(--box-shadow-color);
  border-radius:50px;
  font-size: 12px;
  padding-left:12px !important;
  background: none;
  overflow-x: hidden;
}

.blockLayout{
  padding: 3em;
  grid-area: 2 / 2 / span 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}

.nosidebarblockLayout{
  grid-area: 2 / 1 / span 1 / span 2;
  height: fit-content;
  margin:0;
}

.blockStyle{
  box-shadow: 0px 0px 5px var(--box-shadow-color);
  font: var(--font);
  color: var(--font-color);
  background: white;
  border-radius: 3px;
  
}

.page{
  margin: 2em 2em 0 2em;
  width: 800px;
}

p{
  text-align: justify;
  margin-block-start: 0;
  margin-bottom: auto;
}


@media screen and (max-width: 801px) {
  .page  {
    width: 90vw;
    margin: 1em auto 0 auto;
  }
}

@media screen and (max-width: 801px) {
  .desktopTabs {display: none;}

  .desktopTabs li{text-align:right; margin-bottom:1.5em;}

  .desktopTabs li a{padding:0!important;}

  .navIcon {
    float: right;
    display: block;
  }

  .responsive{
    display: flex !important;
    flex-direction: column;
    float: none;
    top: 2.5em;
    right: 0;
    position: absolute;
    font-size:25px;
    background: #e1eaf3e6;
    width:0;
    height:100vh;
    padding:0;
    transition:0.5s;
    overflow: hidden;
  }

  .tabs .userImage{
    margin:0.8em 0 0 0.8em;
  }
}


@media screen and (min-width: 802px) {
  .navIcon { display: none;}

  .regularBody{
    display: grid;
  }

  .tabs .hamburgerMenu img{ display: none;}
}


/**
 * Common Header
 */

 @media screen and (min-width: 802px) {
  .tabs #logo{
    left: 0;
    padding-left: 10px;
    grid-area: 1 / 1 / span 1 / span 1;
  }

  .tabs #name{
    left: 50px;
    padding-left: 12px;
    grid-area: 1 / 2 / span 1 / span 1;
    top: 0;
  }

  .tabs ul{
    padding-top: 1em;
  }

  .tabs{ grid-template-columns: 150px auto auto;}
  
  .tabs > img{ display:none;}
 }  

@media screen and (max-width: 801px) {

  #logos{
    grid-area: 1 / 2 / span 1 / span 1;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .tabs #name{
    position: initial !important;
    height: 60px;
    width: auto;
    top: 0;
  }  

  .tabs #logo{
    position: initial !important;
    height: 50px;
    width: auto;
    top:5px;
    margin-right: 0.5em;
  }

  .tabs{    grid-template-columns: 110px auto 110px;}

  .tabs > img{ 
    margin:0.7em 0 0 0.7em;
  }
}

.tabs #logo{
  position: absolute;
  top:5px;
}

.tabs #name{
  position: absolute;
}

.navBar{
  grid-area: 1 / 1 / span 1 / span 2;
}

.navIcon{
  padding: 1.35em 0 1em 0!important;
  font-size: 20px;
  color: var(--font-color);
}

.navIcon span{
  display: block;
  width: 25px;
  height: 3px;
  background-color: #262626;
  position: absolute;
  right: 20px;
}

.navIcon span:before{
  content: '';
  width: 100%;
  height: 3px;
  background-color: #262626;
  position: absolute;
  top: -6px;
  right: 0;
  transition: .3s;
}

.navIcon span:after{
  content: '';
  width: 100%;
  height: 3px;
  background-color: #262626;
  position: absolute;
  top: 6px;
  left: 0;
  transition: .3s;
  right: 20px;
}

.navIcon.toggle span{
  background-color: transparent;
}

.navIcon.toggle span:before{
  top:0;
  transform: rotate(-45deg);
}

.navIcon.toggle span:after{
  top:0;
  transform: rotate(45deg);
}

.tabs{ 
  display: grid;
  background-color: white;
  box-shadow:0px 0px 20px var(--box-shadow-color);
}

.tabs form {
  padding: 12px;
  grid-area: 1 / 2 / span 1 / span 1;
}

.tabs form input {
  height: 20px;
  width:60px;
  background-image: url('../img/searchiscon.png');
  background-repeat: no-repeat;
  background-position: 8px 5px;
  background-size: 10px 10px;
  padding-left:25px !important;
  margin-left:auto;
}

.tabs form input:focus{
  width:180px;
  transition:0.3s;
}

.tabs form label {
  color: var(--font-color);
}

.tabs .hamburgerMenu  {
	list-style: none;
	margin: 0;
  padding: 0;
  grid-area: 1 / 3 / span 1 / span 1;
}

.navBar .dropDown  {
  list-style: none;
	margin: 0;
  padding: 0;
  top:3.5em;
}

.navBar .dropDown li {
  padding: 0.5em 1em 0 1em;
  font-weight: bold;
    color: var(--font-color);
}
  
.navBar #subbedChannels a{
  text-decoration: none;
  color:var(--font-color);
  font-size: 14px;
  padding-left: 0.5em; 
}

#subbedChannels{
  align-items: center;
  display: flex;
  flex-direction: column;
  background: var(--box-shadow-color);
}

.tabs li {
  float: right; 
}
  
.navBar li a {
	text-decoration: none;
  font-weight: bold;
  color: var(--font-color);
}


.tabs li a:hover{
  color:var(--font-hover-color);
  border-radius:50px;
  background: linear-gradient(45deg, var(--grad-start-color) 0%,var(--grad-end-color) 100%);
}

/**
* Messages
*/

.messages {
  margin: 2em 0 0 2em;
  grid-area: 2 / 1 / span 1 / span 1;
  border-radius: 25px;
  box-shadow: 0px 0px 20px var(--box-shadow-color);
  display: flex;
  flex-direction: column;
}

.messages > div {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}

.messages > div * {
  justify-self: center;
  padding: 0.3em;
  margin: auto;
}

.messages > div h2 {
  font-family: var(--font), sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  text-decoration: none;
}

.error {
  color: var(--error-color);
}

.success {
  color: var(--success-color);
}

.searchCard{
  /*padding: 0 3em 0 3em;*/
  grid-area: 2 / 2 / span 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}

 /**
 * Sidebar login
 */

.roundImage{
  border-radius: 100px;
}

@media screen and (max-width: 801px) {
  #sidebar{display:none;}
}


#sidebar{
  margin-left: auto;
}

.sidebarCard{
  margin: 2em 0 0 2em;
  grid-area: 2 / 1 / span 1 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:170px;
  overflow: hidden;
}

 .sidebarCardHeader {
  color: var(--font-color);
  font-size: 0.9em;
  padding: 0.5em 0 0.5em 0;
  text-align: center;
  background: var(--washed-out-blue);
  font-weight: bold;
  width: 100%;
 }

 .sidebarH1 {
  text-decoration: none;
  color: var(--font-color);
  font-size: 14px;
  margin:0;
 }

 .mainCardH1 {
  text-decoration: none;
  color: var(--font-color);
  font-size: 20px;
  margin:0;
  padding: 0.8em 0 0.8em 0;
 }

 .sidebarPurpleLink{
  font-family: var(--font), sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: var(--link-color);
  margin: auto;
  padding: 0.1em;
}

.sidebarPurpleLink:hover{
  text-decoration: underline;
}

.sidebarH1:hover{
  text-decoration: underline;
}

.sidebarButtonLink{
  justify-self: center;
  font-family: var(--font), sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  text-decoration: none;
  color: var(--font-color);
  margin: 0.5em  auto auto auto;
  padding: 0.1em;
}


.sidebarButtonLink:hover{
  text-decoration: underline;

}

.sidebarCardContent{
  margin:1em;
  align-items:center;
}


 #sidebar_login form{
    display: grid;
    grid-template-columns: flex;
    flex-direction: column;
 }

 #sidebar_login #options{
  padding:1em 1em 0 1em;
  display:flex;
  flex-direction: column;
  align-items: center;
}

 #sidebar_login #username{
   font-size:20px !important;
   margin-left:0.5em;
 }

 #sidebar_login input:nth-of-type(1),#sidebar_login input:nth-of-type(2){
  font-family: var(--font), sans-serif;
  margin: 0.2em  auto auto auto;
  padding: 0.2em;
  width: 95px;
}

 #sidebar_login input:nth-of-type(3){
    margin: 0.5em  auto auto auto;
    border: none;
    background-color: Transparent;
   }

 #sidebar_login div{
    display: flex;
    flex-direction: row;
    justify-content: center;
 }



 /**
 * Sidebar subs
 */

 #sidebar_subs ul {
  list-style-type: none;
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 14px;
 }


  /**
 * Profile page
 */
 .centerCardLayout{
  margin-left: auto;
  margin-right: auto;
}

#profile{
  display:flex;
  flex-direction: column;
}
 
.alignRight{
  text-align: right;
}

 #profile #imageInfo{
  width: 200px;
  margin-right:4em;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 #profile #editProfile{
  margin: 0 0 1em auto;
 }

 #imageInfo img{
 border-radius: 100px;
  margin-bottom: 1em;
 }

 #profile #content{
   margin-top: 1em;
 }

 #profile #info{
  display: flex;
  padding:2em;
}


@media screen and (min-width: 802px) {
  #profile #info ,#profile form {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navBar .dropDown {display:none;}

  .tabs li {margin: 0.7em 0.7em 0 0;}

  .tabs li a{padding: 8px 15px;}

  #profile #imageInfo{
    width: 200px;
    margin-right:4em;
   }

   #profileInf > #info img{
    margin-right: 4em;
  }
  
}



@media screen and (max-width: 801px) {
  #profile #info, #profile form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #profile #imageInfo{
    width: 100px;
    margin-right:0;
   }

   #profileInf > #info img{
    margin-right: 0;
  } 
  
  .navBar .dropDown {
    background: #e1eaf3e6;
    display: flex;
    position: absolute;
    height: 0;
    font-size: 0;
    flex-direction: column;
    padding: 0.5em 0 1em 0;
    top: 70px;
    left:10px;
    z-index: 1;
    transition: all .25s ease;
  }


  .navBar #subbedChannels a {
    font-size: 0;
    padding:0.2em;
    transition: all .25s ease;
  }
}


#profile form{
  margin-bottom:2em;
}


#profileInf > #info img{
  margin-bottom: 1em;
}


.activityTitle{
  text-align: center;
  flex: 0 0 auto;
  margin: 0 1em 0 1em;
}


.activityDiv{
  display:flex;
  align-items: center;
  margin: 1em 0 1em 0;
}


.activityDiv hr{
  flex: 1 1 0;
  height:3px;
  background: var(--washed-out-blue);
  border:none;
}

#links{
  text-align: center;
}


#links *{
  border: none;
  color:var(--font-color);
  background: none;
  font-size: 16px;
  font: var(--font);
  border-bottom: 3px solid var(--bg-color);
  font-weight: bold;
}

#profile #activity{
  margin:2em 0;
}

#links #Posts:hover,#links #Channels:hover{
  border-bottom: 3px solid var(--grad-end-color);
}

#links #Comments:hover ,#links #All:hover{
  border-bottom: 3px solid var(--grad-start-color);
}

#profile #commentSection{
  margin-bottom:1em;
  padding: 0.5em 1em 0.5em 1em;
}


.commentHeader{
  color: var(--font-color);
  font-size: 13px;
  padding: 0.5em 0.5em 0.5em 0.5em;
  text-align: center;
  background: var(--washed-out-blue);
  font-weight: bold;
  margin:0;
  text-align: left;
  border-radius: 3px;
}

 #profile p{
    font-family: var(--font), sans-serif;
    color: var(--font-color);
    margin: 0;
 }

 #profile #textForm, #profile #personalData{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#profile #textForm *, #profile #personalData * {
  margin: 0.5em;
  color: var(--font-color);
  font-family: var(--font), sans-serif;
}

#profile #submit{
  grid-area: 6 / 1 / span 1 / span 2;
  margin: 0.5em  auto auto auto;
  padding: 0.5em;
  font-family: var(--font), sans-serif;
  font-weight: bold;
  color: var(--font--color);
  border: none;
  background-color: Transparent;
  align-content: center;
  text-align: center;
}

#profile #submit:hover{
color:var(--font-hover-color);
border-radius:16px;
background: linear-gradient(45deg, var(--grad-start-color) 0%,var(--grad-end-color) 100%);
}
 

/**
* Upload
*/

@media screen and (max-width: 801px) {
  #uploadInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #uploadFile{
    margin-bottom:2em;
  }

  .line{margin:1em auto 1em auto;}

}

@media screen and (min-width: 802px) {
  #uploadInfo{
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  justify-content: center;
  }

  #uploadFile{
    margin:0 100px 30px 0;
  }

  .line{margin:3em auto 3em auto;}
}

#uploadInfo2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#uploadInfo .uploadButton{
  margin-top:20px;
}

#infoBlock input{
  width:100px;
  height:25px;
  width:200px;
  margin-left:12px;
  font: var(--font);
  color: var(--font-color);
  font-weight: normal;
}

#infoBlock select{
  width:100px;
  height:31px;
  width:215px;
  margin-left:12px;
  font: var(--font);
  color: var(--font-color);
  font-weight: normal;
}

#infoBlock textarea{
  font: var(--font);
  color: var(--font-color);
  font-weight: normal;
  resize: none;
  border-radius:10px !important;
  padding: 12px;
  width:255px;
}

#uploadFile  {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:5px;
}

#uploadFile  input{
  font-family: var(--font), sans-serif;
  color: var(--font-color);
}

::-webkit-file-upload-button {
  font-family: var(--font), sans-serif;
  font-weight: bold;
  color: var(--font-color);
  border: none;
  background-color: Transparent;
  align-content: center;
  background-color: var(--washed-out-blue);
  border-radius:16px;

}

::-webkit-file-upload-button:hover {
  color:var(--font-hover-color);
  border-radius:16px;
  background: linear-gradient(45deg, var(--grad-start-color) 0%,var(--grad-end-color) 100%);
}

#uploadFile  input{
  margin-top:2em;
}


.inputLabel{
  width:280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  align-items: center;
  font-weight: bold;
  color:var(--font-color);
  margin-bottom: 10px;
}

.fileUploadLabel{
  width: 100px;
  padding: 6px 0px;
  text-align: center;
  margin-bottom:5px;
  height:18px;

}


#upload img{
  position: relative;
  padding-left:0px;
}

#upload > form {
  display: flex;
  flex-direction: column;
}

#save{
  display: flex;
  justify-content: center;
}

#upload input[value="upload"]{
  margin-top:2em;
  width:100px;
  font-size: 1.5em;
  font-family: var(--font), sans-serif;
  font-weight: bold;
  color: var(--font-color);
  border: none;
  background-color: Transparent;
}



#upload #save input:hover{
  margin-top:2em;
  color:var(--font-hover-color);
  border-radius:16px;
  background: linear-gradient(45deg, var(--grad-start-color) 0%,var(--grad-end-color) 100%);
}


#uploadInfo2  input{
  margin: 1em 0;
  align-self: center;
}

input[name="title"]:focus .inputLabel{
  text-decoration: underline;
  text-decoration-color: linear-gradient(45deg, var(--grad-start-color) 0%,var(--grad-end-color) 100%);
}


/**
* Channel list
*/

#channel_list header{
  display: flex;
  flex-direction: row; 
}

#channel_list #content{
  align-items:center;
  display:grid;
  display: flex;
  flex-direction: column; 
}


#channel_list header:last-child {
  margin: 0 0 0 0; 
}

#channel_list header h2{
  font-family: var(--font), sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: var(--font-color);
  width: 7em;
  text-align: center;
}

.channel_list_item{
  display: flex;
  flex-direction: row;
  text-align: center; 
}

.channel_list_item a{
  font-family: var(--font), sans-serif;
  color: var(--link-color);
  width: 7em;
}

#channel_list form * {
  color: var(--font-color);
  font-family: var(--font), sans-serif;
}

#channel_list #submit{
  grid-area: 2 / 1 / span 1 / span 2;
  margin: 0.5em  auto auto auto;
  padding: 0.5em;
  font-family: var(--font), sans-serif;
  font-weight: bold;
  color: var(--font-color);
  border: none;
  background-color: Transparent;
}

#channel_list #submit:hover{
  color:var(--font-hover-color);
  border-radius:16px;
  background: linear-gradient(45deg, var(--grad-start-color) 0%,var(--grad-end-color) 100%);
}

/**
* Add channel
*/
#add_channel form{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 4em 10em 4em;
  max-width: 60%;
  margin:auto;
}

#add_channel input{
  font: var(--font);
  color: var(--font-color);
  font-weight: normal;
  margin: 1em 0;
}

#add_channel textarea{
  font: var(--font);
  color: var(--font-color);
  font-weight: normal;
  resize: none;
  border-radius:10px !important;
  padding: 12px;
  width:auto;
}

#add_channel #submit{
  padding: 0.5em;
  font-family: var(--font), sans-serif;
  font-weight: bold;
  color: var(--font-color);
  border: none;
  background-color: Transparent;
  align-self: center;
  width: 15%;
  margin: auto;
  grid-area: 3/1 /span 1/ span 2;
}

#add_channel #submit:hover{
color:var(--font-hover-color);
border-radius:16px;
background: linear-gradient(45deg, var(--grad-start-color) 0%,var(--grad-end-color) 100%);
}

#add_channel form p{
  margin: 1em;
}

/**
* Channel page
*/
@media screen and (max-width: 801px) {
  #channel_info {
    padding: 2em 2em 1em 2em;
  }

}

@media screen and (min-width: 802px) {
  #channel_info {
    padding: 2em 4em 1em 4em;
  }
}

#channel_info {
  background: var(--washed-out-blue);
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

#channel_info > header {
  display: flex;
  flex-direction: row;
  margin: 0;
}

#channel_info > p {
  margin: 0.5em 0;
}

#channel_info > header > * {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
  font-weight: normal; 
}

#channel_info > header > h1 {
  font-weight: bold; 
  padding: 0;
  margin: 0;
  font-size: 25px;
  align-self: center;
}

#channel_info > header > h2 {
  font-weight: lighter;
  font-size: 12px;
  padding: 0;
  margin:0;
  align-content: center;
  margin-left: auto;
  margin-right: 2%;
}

#channel_info header a {
  padding: 8px 15px;
	text-decoration: none;
  font-weight: bold;
  color: var(--font-color);
  align-self: center;
}

#channel_info > header > * {
  display: grid;
}

#channel_info > header > div > a {
  justify-self: center;
}

#channel_info header div a:hover {
  color:var(--font-hover-color);
  border-radius:50px;
  background: linear-gradient(45deg, var(--grad-start-color) 0%,var(--grad-end-color) 100%);
}

#channel_info > header > form {
  margin: 0;
}

#channel_info > header :first-child {
  margin-right: 2%;
}

#channel_info #submit{
  font-family: var(--font), sans-serif;
  font-weight: bold;
  color: var(--font-color);
  border: none;
  background-color: Transparent;
  font-size:14px;
  margin: 1em 0;
}

#channel_info #submit:hover{
color:var(--font-hover-color);
border-radius:16px;
background: linear-gradient(45deg, var(--grad-start-color) 0%,var(--grad-end-color) 100%);
}

/**
* Stories
*/
@media screen and (max-width: 801px) {
  .audiojs{width: 70vw;}

  .story .storyContent {
    display: flex;
    flex-direction: column;
    margin: 0 0 1em 0;
    align-items: center;
  }

  .story .body {
    padding: 0 2em 1em 2em 
  }

  .story .storyTextAndTrack {
    margin-top: 1em;
  }

  .storyContent img {
    width:70vw;
    height:auto;
  }
}

@media screen and (min-width: 802px) {
  .story .storyContent {
    display: flex;
    flex-direction: row;
    margin: 1em 0 2em 0;
  }

  .story .body {
    padding: 1em 4em 0 4em 
  }

  .story .storyTextAndTrack {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 2em;
  }
}

#story_list {
  display: flex;
  flex-direction: column;
}

.story {
  padding: 0 0 0.5em 0!important;
  margin-bottom: 2em;
  overflow: hidden;
}

.footerSeparator{
  border: 0;
  clear:both;
  display:block;        
  background-color:#00000005;
  height: 3px;
}

.story header {
  display: flex;
  flex-direction: row;
  background: var(--washed-out-blue);
  padding: 0.5em 2em 0.5em 2em;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  align-items: center;

}

.story .userImage {
  margin-right: 0.5em;
}

.story  footer {
  display: flex;
  flex-direction: row;
  align-items: center; 
  padding: 0em 2em 0em 2em;
}

.story  footer .channel {
  margin-right: auto;
}

.story .mention {
  font-family: var(--font), sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: var(--link-color);
  margin: 0;
}

.story  footer .channel a{
  color:var(--font-hover-color);
  font-weight: bold;
  margin-right: auto;
  font-size: 14px;
  padding: 0 8px 0 8px;
  height: 19px;
  text-align: center;
  border-radius:16px;
  background: linear-gradient(45deg, var(--grad-start-color) 0%,var(--grad-end-color) 100%);
}

.story >header a{
  margin-right: auto !important;
  color:var(--font-color);
}

.story > footer a:hover{
  color:var(--grad-start-color);
}

.story > footer a {
  color: var(--font-color);
  text-decoration: none;
  margin-right: 1.5em;
}

.story h2 > a {
  color: var(--font-color);
  text-decoration: none;
}

.story h2 > a:hover {
  color: var(--grad-end-color);
}

.story .numUpvotes, .story .numDownvotes {
  display: grid;
  align-content: center;
  margin-left: 0.2em;
}

.numUpvotes.colored {
  color: var(--grad-start-color);
}

.numDownvotes.colored {
  color: var(--grad-end-color);
}

.story footer .upvote, .story  footer .downvote {
  display: flex;
  flex-direction: row;
  margin-right:0.3em;
}

.story footer form {
  margin-bottom: 0;
}

.story footer .downvote {
  margin-right: 0;
}

.story header > * {
  display: grid;
  padding: 0.1em;
  margin: 0;
  align-content: center;
}

.story header:nth-child(2) {
  margin-left: auto;
}

.story a{
  margin-right: 1.5em;
  color:var(--font-color);
  text-decoration: none;
}

/**
* Comments
*/

@media screen and (min-width: 802px) {
  #add_comment textarea{ width: 85%; }
} 

@media screen and (max-width: 801px) {
  #add_comment textarea{ width: 40vw; }
} 

#comment_list {
  grid-area: 3 / 2 / span 1 / span 1 !important;
  margin-top: 0;
  padding:2em 0 1em 0;
}

#comment_list #comments{
  padding-left:2em;
} 

.comment {
  padding: 0;
  margin-top: 0.2em;
}

.comment .mention {
  font-family: var(--font), sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: var(--link-color);
  margin: 0;
}

.comment > header {
  display: flex;
  flex-direction: row;
}

.comment > footer {
  margin: 0 auto 0 45px;
  display: flex;
  flex-direction: row;
  position: relative;
  font-size: 10px;
  align-items: center;
}

.comment > h2 > a {
  color: var(--link-color);
  text-decoration: none;
}

.comment .numUpvotes, .comment .numDownvotes {
  display: grid;
  align-content: center;
}

.comment > footer .upvote, .comment > footer .downvote {
  display: flex;
  flex-direction: row;
}


.comment > footer .downvote {
  margin-right: 0;
}

#divDot{
  font-size: 7px;
  margin: 0 2em 0 2em;
  color:#949494;
}

.comment .user a{
  margin-right:0.5em;
  font-weight: bold;
  color:var(--link-color);
}

.comment > header > * {
  display: grid;
  margin: 0;
  align-content: center;
}

.comment > header:nth-child(2) {
  margin-left: auto;
}

div.comment{
  display: flex;
  flex-direction: row;
  padding: 0.5em 12px 0.5em 12px;
  border: none;
  border-radius:50px;
  background: #3e3e3e1a;
  font-size: 14px;
  margin-left: 1em;
}

.singleComment{
  display: flex;
  flex-direction: row;
}

#add_comment{
  display: flex;
  flex-direction: row;
  margin-bottom:1em;
  padding-left:2em;
}

#add_comment textarea{
  font: var(--font);
  color: var(--font-color);
  font-weight: normal;
  resize: none;
  padding: 6px 12px 6px 12px;
}

.voteup_btn, .votedown_btn{
  border:none;
  color:var(--font-color);
  background-color: transparent;
}

.voteup_btn.colored{
  color:var(--grad-start-color);
}

.votedown_btn.colored{
  color:var(--grad-end-color);
}

.voteup_btn:hover{
  color:var(--grad-start-color);
}

.votedown_btn:hover{
  color:var(--grad-end-color);
}

.voteup_btn:focus, .votedown_btn:focus{
  outline:none;
}

/**
* Channel search
*/

#search_channels, #search_stories {
  margin: 0 0 2em 0;
}

#search_comments {
  margin: 0;
}

#search_results > header{
  margin:1em 0 1em 0;
}

/**
* Add comment
*/

.add_comment_btn{
  border-radius: 100px;
  color: var(--font-hover-color);
  border:none;
  background: linear-gradient(45deg, var(--grad-start-color) 0%,var(--grad-end-color) 100%);
  width:37px;
  height: 37px;
  margin-left: 1em;
  justify-content: center;
}

#add_comment form{
  margin-left:1em;
  display:flex;
  flex-direction: row;
}